{% extends 'base.html' %}

{% block title %}
{% if note %}
Edit
{% else %}
Add note 
{% endif %}
{% endblock %}

{% block style %}

<style>
  main{
    justify-content: center;
        align-items: center;
        display: flex;
  }

    .parent {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border-radius: 10px
      }
      .div_box {
        width: 100%;
        margin-top: 20px;
        flex-wrap: wrap;
        border-radius: 10px
      }
      
      .card {
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
      }

</style>
{% endblock %}

{% block contex %}
    <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center" style="margin-right: 40px; margin-left: 40px; margin-top: 20px;">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2" id="all-category">
                <i class="icon-layers mr-1"></i><span class="d-none d-md-block">All note</span>
            </a>
        </li>
      </ul>

<main>

<form action="" method="post">
  {% csrf_token %}
  <div class="modal-header bg-info text-white">
    <h5 class="modal-title text-white">{% if note %} Edit {% else %} Add note {% endif %}</h5>
  </div>
 <div style=" width: 700px; height: 500px; justify-content: center; align-items: center; background-color: white;">
      <div class="note-title form-group col-md-12" style="justify-content: center; align-items: center;">
        <br>
        <label>Note Title</label>
        <input type="text" id="note-has-title" name="title" class="form-control" placeholder="Title" {% if note %} value="{{ note.title }}" {% endif %}/>
      </div>
   
        <div class="note-description form-group col-md-12" style="justify-content: center; align-items: center;">
          <label>Note Description</label>
          <textarea id="note-has-description" class="form-control" name="message" cols="6" placeholder="Description" rows="7">{% if note %} {{ note.note}} {% endif %}</textarea>
        </div>

      <div class="note-title form-group col-md-12" style="justify-content: center; align-items: center;">
        <label>Category</label>
        <input type="text" id="note-has-title" name="category" class="form-control col-md-6" {% if note %} value="{{ note.category }}" {% endif %} placeholder="Category" />
      </div>

      <div style="direction: rtl;">
        {% if note %} 
        <button type="submit" class="btn btn-primary float-right" style="margin: 10px;">Update</button>
        {% else %}
        <a href="{% url 'add' %}" type="submit" class="btn btn-primary float-right" style="margin: 10px;">Add</a>
        {% endif %}
        
      </div>
</div>
</form>

</main>
{% endblock %}