{% extends 'base.html' %}

{% block title %} Details {% endblock %}

{% block style %}

<style>
  main{
    justify-content: center;
        align-items: center;
        display: flex;
  }

    .parent {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border-radius: 10px
      }
      .div_box {
        width: 100%;
        margin-top: 20px;
        flex-wrap: wrap;
        border-radius: 10px
      }
      
      .card {
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
      }

</style>
{% endblock %}

{% block contex %}
    <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center" style="margin-right: 40px; margin-left: 40px; margin-top: 20px;">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2" id="all-category">
                <i class="icon-layers mr-1"></i><span class="d-none d-md-block">All Notes</span>
            </a>
        </li>
        
      </ul>

<main>
  <div style=" width: auto; height: auto; justify-content: center; align-items: center; background-color: white;">
    {% for obj in notes %}
    <div class="modal-header bg-info text-white">
        <h5 class="modal-title text-white">Details</h5>
      </div>
        <div>
          
            <div class="form-group row" style="margin-left: 10px;">
              <label  class="col-sm-4 col-form-label">Title:</label>
              <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" value="{{ obj.title }}">
              </div>
            </div>

            <div class="form-group row" style="margin-left: 10px;">
              <label  class="col-sm-4 col-form-label">Description:</label>
              <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" value="{{ obj.note }}">
              </div>
            </div>

            <div class="form-group row" style="margin-left: 10px;">
              <label  class="col-sm-4 col-form-label">Category:</label>
              <div class="col-sm-8">
                <input type="text" readonly class="form-control-plaintext" value="{{ obj.category }}">
              </div>
            </div>
            <br>
        
            <div style="direction: rtl;">
                <a href="{% url 'edit' obj.id %}" class="btn btn-primary btn-lg active float-right" style="margin: 10px;" role="button" aria-pressed="true">Edit</a>
            </div>
            
                <a href="{% url 'delete' obj.id %}" class="btn btn-danger btn-lg active float-right" style="margin: 10px;" role="button" aria-pressed="true">Delete</a>
            
        </div>

{% endfor %}
</div>
</main>
{% endblock %}