{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block style %}
<style>
     
      .parent {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border-radius: 10px
      }
      .div_box {
        width: 100%;
        margin-top: 20px;
        flex-wrap: wrap;
        border-radius: 10px
      }
      
      .card {
        width: 100%;
        height: 200px;
        direction: ltr;
        background-color: white;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
      }
</style>

{% endblock %}



{% block contex %}
<main>

    <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center" style="margin-right: 40px; margin-left: 40px; margin-top: 20px;">
        <li class="nav-item">
            <a href="{% url 'home' %}" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2 active" id="all-category">
                <i class="icon-layers mr-1"></i><span class="d-none d-md-block">All Notes</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="{% url 'add' %}" class="nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2 " id="all-category">
                <i class="icon-layers mr-1"></i><span class="d-none d-md-block">Add note</span>
            </a>
        </li>
        
      </ul>
    


    <section class="parent container">   
        <div class="div_box row">
            {% for obj in notes %}
            
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 p-1">
                <div class="card card-body">
                    <h5>{{ obj.title }}</h5>
                <p style="color: gray;">11 March 2009</p>
                <p style="color: rgb(75, 75, 75); font-size: 18px">{{ obj.note }}</p>
                <a href="{% url 'detail' obj.id %}" class="float-right" style="margin: 10px;">see more</a>
                </div>
            </div>
            
            {% endfor %}       
        </div>
    
    </section>
    </main>

{% endblock %}
